$font-stack: Helvetica, sans-serif;
$primary-color: rgb(178, 39, 212);
body {
    font: $font-stack;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 100;
    justify-content: center;

}
h1{
    font-size:50px;
    font-weight: bolder;
    
}
main {
    flex: 2;
    font-size:medium;
    font-weight: bold;
    padding-left: 25px;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
