$font-stack: Helvetica, sans-serif;
$primary-color: rgb(178, 39, 212);
body {
    font: $font-stack;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
